<nav class="sidebar" id="sidebar">
    <button class="sidebar__close" id="sidebar-close" aria-label="Fechar menu">&times;</button>
    <ul class="sidebar__list">
        <li><a href="{{NAV_HOME}}" class="sidebar__link"><img src="{{BASE}}icons/home.svg" alt="" class="sidebar__icon"> Home</a></li>
        <li><a href="{{NAV_JOGOS}}" class="sidebar__link"><img src="{{BASE}}icons/sports_soccer.svg" alt="" class="sidebar__icon"> Jogos Históricos</a></li>
        <li><a href="{{NAV_ELENCOS}}" class="sidebar__link"><img src="{{BASE}}icons/group.svg" alt="" class="sidebar__icon"> Elencos</a></li>
        <li><a href="{{NAV_MASCOTES}}" class="sidebar__link"><img src="{{BASE}}icons/mascot.svg" alt="" class="sidebar__icon"> Mascotes</a></li>
        <li><a href="{{NAV_CONTATO}}" class="sidebar__link"><img src="{{BASE}}icons/contact.svg" alt="" class="sidebar__icon"> Contato</a></li>
    </ul>
</nav>
<div class="sidebar__overlay" id="sidebar-overlay"></div>
